*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
   background-color: rgb(8, 8, 8);
   
   
}
.menu{
height: 50px;
width: 50px;
color: rgb(244, 231, 214);
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
margin-right: 25px;
font-size: 35px;

}
.menu:hover{
    border: 1px solid white;
    border-radius: 10px;

}
nav  {
    position: fixed;
   /* right: 40px; */
    left: 1340px;
    z-index: 10;
    text-decoration: none;
    height: 70px;
    width: 60px;
    background-color: bisque;

  }
  nav a{
    text-decoration: none;

  }
  
 /* nav ul {
    list-style-type: none;
    padding-left: 30px;
  }
  
  nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
  }
  
  nav ul li i {
    font-size: 20px;
    margin-right: 10px;
  }
  
  nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
  }
  
  nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
  }
  
  nav a{
    color: #fafafa;
    text-decoration: none;
    transition: all 0.5s;
  }
  nav a:hover {
    color: #FF7979;
    font-weight: bold;
  } */
  
marquee{
    font-size: 30px;
    margin-left: 300px;
}
.login{
display: flex;
justify-content: right;

height: 60px;
align-items: center;


}
.profile {
    height: 50px;
    width: 120px;
    font-size: 25px;
    text-decoration: none;
    z-index: 9;
    position: relative;
    transition: all ease 0.3s;
    overflow: hidden;
    margin-right: 30px; 
    display: flex;
    align-items: center;
    justify-content: right;
    align-items: center;
    border-radius: 20px;
}

.profile a {
    text-decoration: none;
    color: rgb(24, 5, 5);
    background-color: rgb(244, 231, 214);
    z-index: 9;
   

    transition: all ease 0.3s;
    position: relative;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 20px;
}

.profile::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(12, 13, 15);
    left: 0;
    bottom: -100%;
    border-radius: 10px;
    transition: all ease 0.3s;
}

.profile:hover::after {
    bottom: 0;
    border-radius: 0;
    
}

.profile:hover a {
    color: rgb(235, 225, 225);
    background-color: transparent;
    border: 1.5px solid white;
}
@media(max-width: 1770px){
   header{
    padding: 22px 4%;
   }

}    


/* .menu {
    height: 50px;
    width: 50px;
    font-size: 25px;
    text-decoration: none;
    z-index: 9;
    position: relative;
    transition: all ease 0.3s;
    overflow: hidden;
    margin-right: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.menu a {
    text-decoration: none;
    color: rgb(24, 5, 5);
    background-color: rgb(244, 231, 214);
    z-index: 9;
   

    transition: all ease 0.3s;
    position: relative;
    padding: 10px 15px;
    
    border-radius: 20px;
}

.menu::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(12, 13, 15);
    left: 0;
    bottom: -100%;
    border-radius: 10px;
    transition: all ease 0.3s;
}

.menu:hover::after {
    bottom: 0;
    border-radius: 0;
    
}

.menu:hover   {
    color: rgb(248, 239, 239);
    background-color: transparent;
    border: 2px solid white;
} */

button{
    height: 45px;
    width: 65px;
    font-size: 20px;
    text-decoration: none;
   border: 1px solid rgb(58, 58, 72);
    margin-right: 10px;

    background-color: rgb(19, 14, 8);
    margin-left: 150px;
    border-radius: 15px;
}
.dashboard{
    background-color: rgb(33, 34, 42);
    height:43vh;
    width:73vh;
    border-radius: 30px;
    text-decoration: none;
    
    box-shadow: 10px 10px 30px rgba(182, 170, 170, 0.4), -10px -10px 20px rgba(91, 87, 87, 0.6); 
/* margin-left: 6vh; */
transition: 1s;
border: 20px solid  rgb(63, 64, 73);
}

.dashboard:hover{
 
   

}
img{
    height:30vh;
    width: 50vh;
    margin-top: 9px;
    text-decoration: none;
    margin-left: 80px;
    transition: 1s;
   
}
h1{
font-size: 7vh;
margin-top: 50px;
color: rgb(244, 231, 214);
padding: 0 30px;
}
h2{
    font-size: 5vh;
    color: rgb(219, 182, 133);
    padding: 0 30px;
}
h3{
    font-size:5vh;
    color: rgb(244, 232, 221);
    margin-left: 14vh;
    margin-top: 1vh;
    text-decoration: none;
    
}
h4{
    margin-left:14vh ;
    color: rgb(186, 169, 145);
}
.sections{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9vh;
    text-decoration: none;

}
.camera{
    background-color: rgb(33, 34, 42);
    height:53vh;
    width:80vh;
    border-radius: 30px;
    
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4), -10px -10px 20px rgba(36, 19, 19, 0.6); 
margin-left: 8vh;

}
