*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
   background-color: rgb(28, 24, 58);
   
   
}
marquee{
    font-size: 30px;
    margin-left: 300px;
}
.login{
display: flex;
justify-content: space-evenly;
background-color: rgb(244, 231, 214);
height: 60px;
align-items: center;


}
.profile {
    height: 50px;
    width: 120px;
    font-size: 25px;
    text-decoration: none;
    z-index: 9;
    position: relative;
    transition: all ease 0.3s;
    overflow: hidden;
    margin-right: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.profile a {
    text-decoration: none;
    color: rgb(24, 5, 5);
    background-color: rgb(244, 231, 214);
    z-index: 9;
    transition: all ease 0.3s;
    position: relative;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
}

.profile::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(12, 13, 15);
    left: 0;
    bottom: -100%;
    border-radius: 10px;
    transition: all ease 0.3s;
}

.profile:hover::after {
    bottom: 0;
    border-radius: 0;
}

.profile:hover a {
    color: rgb(235, 225, 225);
    background-color: transparent;
}


button{
    height: 45px;
    width: 65px;
    font-size: 20px;
    text-decoration: none;
   border: 1px solid rgb(58, 58, 72);
    margin-right: 10px;

    background-color: rgb(19, 14, 8);
    margin-left: 150px;
    border-radius: 15px;
}
.dashboard{
    background-color: rgb(83, 66, 66);
    height:53vh;
    width:80vh;
    border-radius: 30px;
    
    box-shadow: 10px 10px 30px rgba(216, 209, 209, 0.4), -10px -10px 20px rgba(201, 194, 194, 0.6); 
/* margin-left: 6vh; */
transition: 1s;
}

.dashboard:hover{
    transform: scale(0.9);
    z-index:1;
}
img{
    height:40vh;
    width: 60vh;
    margin-top: 9px;
    margin-left: 70px;
  
   
}
h1{
font-size: 7vh;
margin-top: 50px;
color: rgb(244, 231, 214);
padding: 0 30px;
}
h2{
    font-size: 5vh;
    color: rgb(219, 182, 133);
    padding: 0 30px;
}
h3{
    font-size:5vh;
    color: rgb(244, 232, 221);
    margin-left: 14vh;
    margin-top: 1vh;
    
}
h4{
    margin-left:14vh ;
    color: rgb(186, 169, 145);
}
.sections{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9vh;
}
.camera{
    background-color: rgb(83, 66, 66);
    height:53vh;
    width:80vh;
    border-radius: 30px;
    
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4), -10px -10px 20px rgba(36, 19, 19, 0.6); 
margin-left: 8vh;

}
